      <div class="text-center">
        <h2>Projects</h2>
    </div>
    <%# cards div %>
    <div class="row gap-5 justify-content-evenly my-5">
        <div class="card col-10 col-sm-5 col-md-3 p-0">
            <%= image_tag "projects/ricomida.png", class:"img-fluid rounded-start card-img-top" %>
            <div class="card-body">
                <h5 class="card-title">Ricomida</h5>
                <p class="card-text">Lorem ipsum dola itadiandae possimus, quod eum, reiciendis laboriosam asperiores iusto odit vel non dolores. Et magnam provident repellat quia vitae, illo dolorum soluta incidunt nisi voluptatem excepturi.</p>
                <a href="https://pablomarino808.github.io/ricomida/" class="btn bg-light-purple text-light-grey">Ver más</a>
            </div>
        </div>
        <div class="card col-10 col-sm-5 col-md-3 p-0">
            <%= image_tag "projects/viajes-chile.png", class:"img-fluid rounded-start card-img-top" %>
            <div class="card-body">
                <h5 class="card-title">Viajes Chile</h5>
                <p class="card-text">Lorem ipsum dola itadiandae possimus, quod eum, reiciendis laboriosam asperiores iusto odit vel non dolores. Et magnam provident repellat quia vitae, illo dolorum soluta incidunt nisi voluptatem excepturi.</p>
                        <a href="https://pablomarino808.github.io/viajes_chile/" class="btn bg-light-purple text-light-grey">Ver más</a>
            </div>
        </div>
        <div class="card col-10 col-sm-5 col-md-3 p-0">
            <%= image_tag "projects/cuppon.png", class:"img-fluid rounded-start card-img-top" %>
            <div class="card-body">
                <h5 class="card-title">Cuppon</h5>
                <p class="card-text">Lorem ipsum dola itadiandae possimus, quod eum, reiciendis laboriosam asperiores iusto odit vel non dolores. Et magnam provident repellat quia vitae, illo dolorum soluta incidunt nisi voluptatem excepturi.</p>
                <a href="https://pablomarino808.github.io/ricomida/" class="btn bg-light-purple text-light-grey">Ver más</a>
            </div>
        </div>
        <div class="card col-10 col-sm-5 col-md-3 p-0">
            <%= image_tag "projects/ricomida.png", class:"img-fluid rounded-start card-img-top" %>
            <div class="card-body">
                <h5 class="card-title">Ricomida</h5>
                <p class="card-text">Lorem ipsum dola itadiandae possimus, quod eum, reiciendis laboriosam asperiores iusto odit vel non dolores. Et magnam provident repellat quia vitae, illo dolorum soluta incidunt nisi voluptatem excepturi.</p>
                <a href="https://pablomarino808.github.io/ricomida/" class="btn bg-light-purple text-light-grey">Ver más</a>
            </div>
        </div>
        <div class="card col-10 col-sm-5 col-md-3 p-0">
            <%= image_tag "projects/viajes-chile.png", class:"img-fluid rounded-start card-img-top" %>
            <div class="card-body">
                <h5 class="card-title">Viajes Chile</h5>
                <p class="card-text">Lorem ipsum dola itadiandae possimus, quod eum, reiciendis laboriosam asperiores iusto odit vel non dolores. Et magnam provident repellat quia vitae, illo dolorum soluta incidunt nisi voluptatem excepturi.</p>
                        <a href="https://pablomarino808.github.io/viajes_chile/" class="btn bg-light-purple text-light-grey">Ver más</a>
            </div>
        </div>
        <div class="card col-10 col-sm-5 col-md-3 p-0">
            <%= image_tag "projects/cuppon.png", class:"img-fluid rounded-start card-img-top" %>
            <div class="card-body">
                <h5 class="card-title">Cuppon</h5>
                <p class="card-text">Lorem ipsum dola itadiandae possimus, quod eum, reiciendis laboriosam asperiores iusto odit vel non dolores. Et magnam provident repellat quia vitae, illo dolorum soluta incidunt nisi voluptatem excepturi.</p>
                <a href="https://pablomarino808.github.io/ricomida/" class="btn bg-light-purple text-light-grey">Ver más</a>
            </div>
        </div>
        <div class="card col-10 col-sm-5 col-md-3 p-0">
            <%= image_tag "projects/ricomida.png", class:"img-fluid rounded-start card-img-top" %>
            <div class="card-body">
                <h5 class="card-title">Ricomida</h5>
                <p class="card-text">Lorem ipsum dola itadiandae possimus, quod eum, reiciendis laboriosam asperiores iusto odit vel non dolores. Et magnam provident repellat quia vitae, illo dolorum soluta incidunt nisi voluptatem excepturi.</p>
                <a href="https://pablomarino808.github.io/ricomida/" class="btn bg-light-purple text-light-grey">Ver más</a>
            </div>
        </div>
        <div class="card col-10 col-sm-5 col-md-3 p-0">
            <%= image_tag "projects/viajes-chile.png", class:"img-fluid rounded-start card-img-top" %>
            <div class="card-body">
                <h5 class="card-title">Viajes Chile</h5>
                <p class="card-text">Lorem ipsum dola itadiandae possimus, quod eum, reiciendis laboriosam asperiores iusto odit vel non dolores. Et magnam provident repellat quia vitae, illo dolorum soluta incidunt nisi voluptatem excepturi.</p>
                        <a href="https://pablomarino808.github.io/viajes_chile/" class="btn bg-light-purple text-light-grey">Ver más</a>
            </div>
        </div>
        <div class="card col-10 col-sm-5 col-md-3 p-0">
            <%= image_tag "projects/cuppon.png", class:"img-fluid rounded-start card-img-top" %>
            <div class="card-body">
                <h5 class="card-title">Cuppon</h5>
                <p class="card-text">Lorem ipsum dola itadiandae possimus, quod eum, reiciendis laboriosam asperiores iusto odit vel non dolores. Et magnam provident repellat quia vitae, illo dolorum soluta incidunt nisi voluptatem excepturi.</p>
                <a href="https://pablomarino808.github.io/ricomida/" class="btn bg-light-purple text-light-grey">Ver más</a>
            </div>
        </div>     
    </div>